<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">


<!-- 配置datasource -->
<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	<property name="jdbcUrl" value="jdbc:mysql://localhost:3308/ssm_spring"></property>
	<property name="user" value="root"></property>
	<property name="password" value="root"></property>
</bean>

<!-- 配置dao -->
<bean name="userDao" class="com.sikiedu.dao.UserDaoImpl">
	<property name="dataSourceSource" ref="dataSource"/>
</bean>

<!-- 配置service -->
<bean name="userService" class="com.sikiedu.service.UserServiceImpl">
	<property name="ud" ref="userDao"/>

</bean>


</beans>