<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 要是想调用这个sql语句,需要namespace的名字 -->
<mapper namespace="com.sikiedu.mapper.CountryMapper">

	<!-- //查询所有 -->
	<!-- List<Country> selectAll(); -->

	<!-- 进行手动映射 -->
	<resultMap type="Country" id="country">
		<result property="id" column="c_id" />
		<result property="c_captial" column="c_capital" />
	</resultMap>

	<select id="selectAll" resultMap="country">
		select * from country
	</select>

	<!-- //查询所有的CountryVo -->
	<!-- List<CountryVo> selectAllCountryVo(); -->
	<resultMap type="CountryVo" id="CountryVo">
		<id property="id" column="c_id" />
		<result property="c_countryname" column="c_countryname" />
		<result property="c_capital" column="c_capital" />

		<!-- 一对多 关系 -->
		<collection property="userList" ofType="User">
			<id property="u_id" column="u_id" />
			<result property="u_username" column="u_username" />
		</collection>
	</resultMap>

	<select id="selectAllCountryVo" resultMap="CountryVo">
		SELECT
		c.`c_countryname`,
		c.`c_id`,
		c.`c_capital`,
		u.`u_cid`,
		u.`u_username`,
		u.`u_id`,
		u.`u_sex`
		FROM country c
		LEFT JOIN USER u
		ON u.`u_cid`=c.`c_id`

	</select>


</mapper>






